.title {
    color: yellow;
    text-shadow: 4px 4px 0px #000;
    margin-top: 15px;
    text-align: center;
    font-size: 100px;
    font-family: 'Bangers', cursive;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: rgb(0, 56, 160);
}